@using System.Configuration;
@using System.Data.SqlClient;
@{
    Layout = null;


    SqlConnection connect = new SqlConnection(ConfigurationManager.ConnectionStrings["Login"].ConnectionString);

    connect.Open();

    string query = "SELECT * from Users";
    SqlCommand Users = new SqlCommand(query, connect);


    SqlDataReader UserList = Users.ExecuteReader();


}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin</title>
</head>
<body>
    <form id="form1" method="post">
        <p>
            <label for="txtUserID">User ID:</label>
            <input id="txtUserID" type="text" /><br />
            <label for="txtUserName">Username:</label>
            <input id="txtUserName" type="text" /><br />
            <label for="txtEmail">Email:</label>
            <input id="txtEmail" type="text" /><br />
            <label for="txtPhone">Phone #:</label>
            <input id="txtPhone" type="text" /><br />
        </p>

        <p>
            <input id="btnLoad" type="button" value="Load" />
            <input id="btnInsert" type="button" value="Insert" />
            <input id="btnUpdate" type="button" value="Update" />
            <input id="btnDelete" type="button" value="Delete" />
        </p>
    </form>
    <div>
        <p>
            <table border="1" cellpadding="5">
                <tbody>
                <thead>
                <th>User ID</th>
                <th>Username</th>
                <th>Password</th>
                <th>Email</th>
                <th>Phone</th></thead>
                @while (UserList.Read())
                {
                    <tr>
                        <td>@UserList.GetString(0)</td>
                        <td>@UserList.GetString(1)</td>
                        <td>@UserList.GetString(2)</td>
                        <td>@UserList.GetString(3)</td>
                        <td>@UserList.GetString(4)</td>
                    </tr>
                }
                </tbody>
            </table>
        </p>

    </div>


</body>
</html>






@{
    connect.Close();
}